# dependencies
node_modules/
assets/videos/*
assets/videos/**/*
*.mp4
*.mov
*.avi
*.wmv
*.flv
*.mkv

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
.qodo

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
build/
dist/
out/

# Cache
.cache/
.npm/
.eslintcache
